<h1>Mis visitas</h1>
<div class="formulario">
<%= form_for :users do |f| %>
  <p>
    <%= f.label :Usuario %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :Hincha %><br>
    <%= f.text_field :team %>
  </p>
  <p>
    <%= f.label :Estadio %><br>
    <%= f.text_field :stadium %>
  </p>
  <p>
    <%= f.label :Opinión %><br>
    <%= f.text_area :opinion %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>
